
<div class="card card-primary card-outline">
    <div class="card-header"> 
        <h3 class="card-title">EmployeeList</h3>
    </div>
    <div >
        <div class="card-body">
        <div id="dataGrid"></div>
    </div>
    </div>

</div>





@section Scripts {
    <script src="~/app/emplist.js"></script>
}
