
<div class="card card-primary card-outline">
    <div class="card-header"> 
        <h3 class="card-title">EmployeeList</h3>
    </div>
    <div >
        <div class="card-body">
        <div id="dataGrid"></div>
    </div>
    </div>
</div>

<div id="employeePopup"></div>


<div class="modal fade" id="createEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="createEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/app/emplist.js"></script>
    <script src="~/app/empform.js"></script>
}
