@model List<employee.Models.EmployeeFormViewModel>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Employee List</h2>

        <div class="d-flex justify-content-between align-items-center flex-wrap">

            <form id="searchForm" class="d-flex align-items-center me-3 mb-2 mb-md-0" method="get" action="/Employee/List">
                    @*        method="get" action="/Employee/List"*@                
                <div class="input-group">
                    <input type="text" id="searchQuery" class="form-control" name="query" placeholder="Search" value="@(ViewContext.HttpContext.Request.Query["query"])" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>

            <div class="d-flex align-items-center">
                <a href="/Employee/Create" class="btn btn-primary" id="btnOpenCreateModal">
                    <i class="fa fa-plus fa-sm"></i>
                </a>
            </div>
        </div>
    </div>

    
    <div class="table-responsive w-100 px-0 mx-0" id="employeeTable">
        <div style="max-height: 500px; overflow-y: auto;">
            <table class="table table-sm table-striped table-bordered table-hover align-middle">
                
                <thead class="table-dark text-nowrap" style="position: sticky; top: 0; z-index: 2;">
                    <tr>
                        <th style="width: 50px;">S.N.</th>
                        <th style="width: 200px;">Name</th>
                        <th style="width: 80px;">Age</th>
                        <th style="width: 100px;">Gender</th>
                        <th style="width: 160px;">Contact</th>
                        <th style="width: 120px;">Experience Years</th>
                        <th style="width: 100px;"></th>
                    </tr>
                </thead>

                <tbody id="employeeTableBody" class="text-nowrap"> </tbody>
               
            </table>
        </div>
    </div>

    <div id="createEmployeeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"> 
        <div class="modal-dialog"> 
             <div class="modal-content"> 
             </div> 
       </div>
    </div>


</div>


@section Scripts {
    <script>

         // FUNCTION TO LOAD EMPLOYEES
            function loadEmployees() {
                $('#employeeTableBody').empty();

                $.ajax({
                    url: '/Employee/ListEmployees',
                    type: 'GET',
                    success: function (data) {
                        //console.log("Received data:", data);
                        let sn = 1;
                        $.each(data, function (index,emp) {
                            const totalYears = emp.experiences ? emp.experiences.reduce((sum, e) => sum + e.years, 0) : 0;

                            let row = `<tr>
                                <td>${sn}</td>
                                <td>${emp.employee.name}</td>
                                <td>${emp.employee.age}</td>
                                <td>${emp.employee.gender}</td>
                                <td>${emp.employee.contact}</td>
                                <td>${totalYears}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning me-2 edit-btn" data-id="${emp.employee.employeeID}"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-sm btn-danger delete-btn" data-id="${emp.employee.employeeID}"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>`;
                            $('#employeeTableBody').append(row);
                            sn++;
                        });
                    },
                    error: function (err) {
                        alertify.error("Error loading employees");
                        console.log(err);
                    }
                });
            }

        $(document).ready(function () {

            loadEmployees();



            // OPEN CREATE MODAL
            $(document).on('click', '#btnOpenCreateModal', function (e) {
                e.preventDefault();
                $.get('/Employee/GetEmployee', function (response) {
                    
                    $('#createEmployeeModal .modal-content').html(response);
                    $('#createEmployeeModal').modal('show');
                                              initializemodal();

                });
            });

            // OPEN CREATE MODAL AS EDIT MODE
            $(document).on('click', '.edit-btn', function (e) {
                 e.preventDefault()
                const id = $(this).data('id');
                $.ajax({
                    url: '/Employee/GetEmployee/' + id,
                    type: 'GET',
                    success: function (data) {
                           

                           $('#createEmployeeModal .modal-content').html(data);
                           $('#createEmployeeModal').modal('show');
                           initializemodal();

                    }
                });
            });

            // DELETE EMPLOYEE
            $(document).on('click', '.delete-btn', function () {
                const employeeId = $(this).data('id');

                alertify.confirm("Confirm Deletion", "Are you sure you want to delete this employee?",
                    function () {
                        $.ajax({
                            url: '/Employee/Delete/' + employeeId,
                            type: 'POST',
                            headers: {
                                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() || ''
                            },
                            success: function () {
                                alertify.success("Employee Deleted");
                                loadEmployees(); // Reload the table
                            },
                            error: function () {
                                alertify.error("Delete failed.");
                            }
                        });
                    },
                    function () {
                        alertify.message('Canceled');
                    });
            });

        });

        // $(`#searchform`).on(`submit`, function(e){
        //     e.preventDefault();

        //     var query = $(`searchQuery`).val();

        //     $.ajax({
        //         url: `/Employee/ListEmployees`,
        //         method: 'GET',
        //         data: {query},
        //     });
        // });
    </script>
}

